/* css/style.css */
#todo-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

tr {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Highlight saat hover baris */
#todo-list tr:hover {
    background-color: rgba(125, 133, 245, 0);
}